In [36]:
#1
def with_out_argument():
    try:
        basic_salary=eval(input("enter basic salary:"))
        dearness_allowance=(basic_salary*40/100)
        hous_rent=(basic_salary*20/100)
        gross_salary=basic_salary+dearness_allowance+hous_rent
        print("gross_salary {}".format(gross_salary))
    except Exception as e:
        print(e)

In [37]:
with_out_argument()

enter basic salary:10000
gross_salary 16000.0

In [74]:
#2
def with_argument(a,b):
    try:
        distance_two_cities=eval(input("enter two cities distance in km:"))
        distance_meter=distance_two_cities*1000
        distance_feet=distance_two_cities*3280.84
        distance_inches=distance_two_cities*39370.1
        print("distance between two cities is {} km = {} meters = {} feet = {} inches :".format(distance_meter,distance_feet,distance_inches))
    except Exception as e:
        print(e)

In [75]:
with_argument(10,20)

enter two cities distance in km:10
Replacement index 3 out of range for positional args tuple

In [2]:
#3
def default_argument(percentage_marks,aggregate_marks=420):
    try:
        subject1=eval(input("enter the first subject marks=:"))
        subject2=eval(input("enter the second subject marks=:"))
        subject3=eval(input("enter the third subject marks=:"))
        subject4=eval(input("enter the fourth subject marks=:"))
        subject5=eval(input("enter the fifth subject marks=:"))
        aggregate_marks=subject1+subject2+subject3+subject4+subject5
        percentage_marks=(aggregate_marks)*100/500
        print('aggregate_marks',aggregate_marks)
        print('percentage_marks',percentage_marks)
    except Exception as e:
        print(e)

In [3]:
default_argument(70)

enter the first subject marks=:75
enter the second subject marks=:70
enter the third subject marks=:80
enter the fourth subject marks=:85
enter the fifth subject marks=:90
aggregate_marks 400
percentage_marks 80.0

In [15]:
#4
def default_argument():
    try:
        temprature_degree=eval(input("enter temprature of fahrenheit degree:"))
        centigrade_degree=(temprature_degree-32)*(9/5)
        print(int(centigrade_degree),"centigrade_degree")
        return(temprature_degree,centigrade_degree)
    except Exception as e:
        print(e)

In [18]:
temprature_degree,centigrade_degree=default_argument()

enter temprature of fahrenheit degree:70
68 centigrade_degree

In [19]:
print(temprature_degree)

70

In [20]:
print(centigrade_degree)

68.4

In [68]:
#5
def with_out_argument():
    try:
        import math
        length=eval(input("enter length of rectangle=:"))
        breadth=eval(input("enter breadth of rectangle=:"))
        radius=eval(input("radius of a circle=:"))
        area=length*breadth
        perimeter=2*(length+breadth)
        area_circle=3.1415*radius**2
        circumference=2*3.1415*radius
        print("area of rectangle=",area)
        print("perimeter of rectangle=",perimeter)
        print("area of circle=",area_circle)
        print("circumference=",circumference)
    except Exception as e:
        print(e)

In [69]:
with_out_argument()

enter length of rectangle=:20
enter breadth of rectangle=:30
radius of a circle=:40
area of rectangle= 600
perimeter of rectangle= 100
area of circle= 5026.400000000001
circumference= 251.32000000000002

In [25]:
#6
def with_argument(a,b):
    try:
        c=eval(input("enter number one is c:"))
        d=eval(input("enter number second is d:"))
        interchange=c
        c=d
        d=interchange
        print("c=",d)
        print("d=",d)
    except Exception as e:
        print(e)

In [26]:
with_argument(70,75)

enter number one is c:55
enter number second is d:65
c= 55
d= 55

In [36]:
#7
def default_argument(n1,n2,n3,n4,n5=7):
    try:
        number=eval(input("enter five digit number:"))
        rev1=number%10
        n1=number//10
        rev2=n2%10
        n2=n2//10
        rev3=n3%10
        n3=n3//10
        rev4=n4%10
        n4=n4//10
        rev5=n5%10
        n5=n5//10
        print("reverse number",rev1,rev2,rev3,rev4,rev5)
    except Exception as e:
        print(e)

In [37]:
default_argument(5,6,4,3)

enter five digit number:5643
reverse number 3 6 4 3 7

In [46]:
#8
def default_argument():
    try:
        number=eval(input("enter four digit number:"))
        sum1=number%10
        n1=number//1234
        sum2=n1%10
        print(sum1+sum2)
        return(sum1,sum2)
    except Exception as e:
        print(e)

In [50]:
sum1,sum2=default_argument()

enter four digit number:4598
11

In [51]:
print(sum1)

8

In [52]:
print(sum2)

3

In [63]:
#9
def with_out_argument():
    try:
        town_population=80000
        percentage_men=52
        percentage_total_literacy=48
        total_percentage_litrate_men=35
        men=(percentage_men/100)*town_population
        total_literacy=(percentage_total_literacy/100)*town_population
        litrate_men=total_percentage_litrate_men*(town_population/100)
        ilitrate_men=men-litrate_men
        print("ilitrate men in town:",int(ilitrate_men))
        litrate_women=total_literacy-litrate_men
        women=town_population-men
        ilitrate_women=women-litrate_women
        print("ilitrate women in town:",int(ilitrate_women))
    except Exception as e:
        print(e)

In [64]:
with_out_argument()

ilitrate men in town: 13600
ilitrate women in town: 28000

In [65]:
#10
def with_argument(a,b):
    try:
        amount_in_hundred=eval(input("enter the amount to be withdrawn in hundred"))
        total_amount=amount_in_hundred*100
        num_100_notes=total_amount//100
        total_amount%=100
        num_50_notes=total_amount//50
        total_amount%=50
        num_10_notes=total_amount//10
        total_amount%=10
        print("num of hundred rupees notes:",num_100_notes)
        print("num of hundred rupees notes:",num_50_notes)
        print("num of hundred rupees notes:",num_10_notes)
    except Exception as e:
        print(e)

In [67]:
with_argument(50,10)

enter the amount to be withdrawn in hundred160
num of hundred rupees notes: 160
num of hundred rupees notes: 0
num of hundred rupees notes: 0