In [1]:
list1=['A','B','C','D','E','F',1,2,3,4,5,6]

In [2]:
list1[2:11:2]

['C', 'E', 1, 3, 5]

In [4]:
list1[2:11:-2]

[]

In [10]:
list2=['Hyderabad','Delhi','Chennai','Blr']
for i in range(len(list2)):
    if len(list2[i])>=4:
        print(list2[i])            #range method in method

Hyderabad
Delhi
Chennai

In [81]:
list2=['Hyderab#d','Delhi','Chenn#i','Blr']
for i in list2:
    if '#' in i:
        print(i)

Hyderab#d
Chenn#i

In [82]:
for i in range(len(list2)):
    if '#' in list2[i]:
        print(list[i])

list[0]
list[2]

In [83]:
i=0

In [84]:
list2=['Hyderab#d','Delhi','Chenn#i','Blr','Haridwar']
for i in list2:
    if 'H' in i:
        print(i)

Hyderab#d
Haridwar

In [85]:
list2=['Hyderab#d','Delhi','Chenn#i','Blr','haridwar']
#startswith
for i in list2:
    if i.lower().startswith('h'):
        print(i)

Hyderab#d
haridwar

In [86]:
list1=['omkar.nallagoni@gmail.com','kareem.pasha@gmail.com','santosh.kadam@gmail.com']

In [102]:
list1=['omkar.nallagoni@gmail.com',
       'kareem.pasha@gmail.com',
       'santosh.kadam@gmail.com']
for i in list1:
    print(i[i.find('.')+1:i.find('@')])

nallagoni
pasha
kadam

In [94]:
list2='omkar.nallagoni@gmail.com'
print(list1[list1.find('.')+1:list1.find('@')])

nallagoni

### append

In [ ]:
# apend is very very imp

In [51]:
list1=[100,200,300]
list1.append(400)
list1

[100, 200, 300, 400]

In [53]:
l1=[]
l1.append([20,30,70])
l1.append('python')
l1

[[20, 30, 70], 'python']

In [54]:
list2=['Hyderabad','Delhi','Chennai','Blr','Haridwar']
city_list=[]
for i in list2:
    if len(i)>=4:
        city_list.append(i)
city_list

['Hyderabad', 'Delhi', 'Chennai', 'Haridwar']

In [55]:
list2=['Hyderab#d','Delhi','Chennai','Blr','Haridw#r']
city_list=[]
for i in list2:
    if '#' in i:
        city_list.append(i)
city_list

['Hyderab#d', 'Haridw#r']

In [ ]:
list1=['omkar.nallagoni@gmail.com',
       'kareem.pasha@gmail.com',
       'santosh.kadam@gmail.com']

In [ ]:
def names(list1):
    first,second=[],[]
    for i in list1:
        fist.append(i.split('.')[0])
        second.append(i[find('.')+1:i])

In [59]:
import random
even,odd=[],[]
for i in range(10):
    num=random.randint(1,50)
    if num%2==0:
        even.append(num)
    else:
        odd.append(num)
even,odd

([46, 42, 12, 22, 50, 24], [23, 17, 49, 9])

$List Comprehenshion$

In [61]:
output=[i for i in list1 if len(i)>=4]
output

TypeError: object of type 'int' has no len()

In [66]:
list2=['Hyderabad','Delhi','Chennai','Blr','Haridwar']
city_list=[]
for i in list2:
    if len(i)>=4:
        city_list.append(i)
city_list
output=[i for i in list2 if len(i)>=4]
output

['Hyderabad', 'Delhi', 'Chennai', 'Haridwar']

In [64]:
list2=['Hyderab#d','Delhi','Chennai','Blr','Haridw#r']
city_list=[]
for i in list2:
    if '#' in i:
        city_list.append(i)
city_list
output1=[i for i in list2 if '#' in i]

In [65]:
output1

['Hyderab#d', 'Haridw#r']

In [68]:
square=[]
for i in range(5):
    square.append(i*i)
square
output3=[i*i for i in range(5)]

In [69]:
output3

[0, 1, 4, 9, 16]

In [111]:
even,odd=[],[]
for i in range(10):
    if i%2==0:
        print('even:{}'.format(i))
        even.append(i)
    else:
        print('odd:{}'.format(i))
        odd.append(i)
even,odd

even:0
odd:1
even:2
odd:3
even:4
odd:5
even:6
odd:7
even:8
odd:9

([0, 2, 4, 6, 8], [1, 3, 5, 7, 9])

In [112]:
# list comprehrnsion if else
# [<output> if else <output> foloop ]
output=['even:{}'.format(i) if i%2==0 else 'odd:{}'.format(i) for i in range(10)]
output

['even:0',
 'odd:1',
 'even:2',
 'odd:3',
 'even:4',
 'odd:5',
 'even:6',
 'odd:7',
 'even:8',
 'odd:9']