In [ ]:
- strings
- List
- dictionary
- tuple/set
- lambda functions
- file handling

$Dictionary$

In [96]:
names=['Ram','Raheem','Robert']
ages=[25,30,35]
for i,j in zip(names,ages):
    print('the {} age is {}:'.format(i,j))

the Ram age is 25:
the Raheem age is 30:
the Robert age is 35:

#### key- value pair concept

${key:value}$
*key words:*
-len
-type
-max
-min

In [97]:
dictionary={'Ram':25,'Raheem':30,'Robert':35}
dictionary

{'Ram': 25, 'Raheem': 30, 'Robert': 35}

In [98]:
type(dictionary)

dict

In [99]:
len(dictionary)

3

In [100]:
max(dictionary)

'Robert'

In [101]:
min(dictionary)

'Raheem'

- max values and min values based on keys only

In [102]:
d1={'Ram':25,'Raheem':30,'Robert':35}
d2={'names':["Ram","Raheem","Robert"],'ages':[25,30,35]}
d2

{'names': ['Ram', 'Raheem', 'Robert'], 'ages': [25, 30, 35]}

In [103]:
d3={25:'Ram'}
d3

{25: 'Ram'}

In [104]:
d4=

SyntaxError: invalid syntax (848916059.py, line 1)

In [105]:
d5={25,30}
d5

{25, 30}

In [106]:
d6={'A':'Apple','B':10.5,"C":10+5j,12:['A','B','C']}
d6

{'A': 'Apple', 'B': 10.5, 'C': (10+5j), 12: ['A', 'B', 'C']}

In [107]:
d7={'Fruits':{"like":['Apple','Cherry']}}   #json file types
d7

{'Fruits': {'like': ['Apple', 'Cherry']}}

In [108]:
list1=[{'like':['Apple','Cherry']}]
list1

[{'like': ['Apple', 'Cherry']}]

- if you provide values

In [109]:
d8={'Mobin':'Amazon','Mobin':'Amazon'}
d8                   # Duplicates are not allowed

{'Mobin': 'Amazon'}

In [110]:
d9={'Ravi':25,'Ravi':35}
d9                        # if keys are same the last value will taken

{'Ravi': 35}

In [111]:
dictionary

{'Ram': 25, 'Raheem': 30, 'Robert': 35}

- Keys are Important

In [112]:
'Ram' in dictionary

True

In [113]:
'Raheem' in dictionary

True

In [114]:
'Robert' in dictionary

True

In [115]:
# i in dictionary

In [116]:
for i in dictionary:
    print(i)        # very very important

Ram
Raheem
Robert

$index$

- dictionary index keys value retrive based on keys only

In [117]:
dictionary

{'Ram': 25, 'Raheem': 30, 'Robert': 35}

In [118]:
dictionary[0]  #with index will fail

KeyError: 0

In [119]:
dictionary['Ram'],dictionary['Raheem'],dictionary['Robert']

(25, 30, 35)

In [120]:
for i in dictionary:
    print(i,dictionary[i])

Ram 25
Raheem 30
Robert 35

In [121]:
number=20,30
number       # thise will discussed in function

(20, 30)

In [122]:
d2

{'names': ['Ram', 'Raheem', 'Robert'], 'ages': [25, 30, 35]}

In [123]:
d2['names'][0],d2['ages'][0]

('Ram', 25)

In [124]:
d2['names'][1],d2['ages'][1]

('Raheem', 30)

In [125]:
d2['names'][2],d2['ages'][2]

('Robert', 35)

In [126]:
for i in range(3):
    print(d2['names'][i],d2['ages'][i])

Ram 25
Raheem 30
Robert 35

In [127]:
d1={'hello':{'hello':{'hello':{'hello':'python'}}}}
d1   
#retrive python
d1['hello']['hello']['hello']['hello']

'python'

In [128]:
d2={'hello':[{'fruits':['Apple','banana',{'like':['cherry']}]}]}
d2
#cherry
d2['hello'][0]['fruits'][2]['like'][0]

'cherry'

In [129]:
dictionary={}
list1=[]
string1=""

In [130]:
dict1={}
dict1['boys']='males'
dict1['girls']='females'
dict1

{'boys': 'males', 'girls': 'females'}

In [131]:
import random
dict1={}
list1=[]
list2=[]
for i in range(5):
    number=random.randint(10,100)
    if number%2==0:
        list1.append(number)
    else:
        list2.append(number) 
dict1['even']=list1
dict1['odd']=list2
dict1

{'even': [60, 82, 100], 'odd': [45, 85]}

In [132]:
dir({})

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [133]:
dict1={'Course_id1':'DS',
       'Course_duration':4,
       'Course_fee':18000,
       'Institute':'Naresh IT'}

$items-keys-values$

In [134]:
dict1.items()      #items all will come

dict_items([('Course_id1', 'DS'), ('Course_duration', 4), ('Course_fee', 18000), ('Institute', 'Naresh IT')])

In [135]:
type(dict1.items())

dict_items

In [136]:
# it is a new type:dict_items
# it is not a list

In [137]:
for i in dict1.items():
    print(i)

('Course_id1', 'DS')
('Course_duration', 4)
('Course_fee', 18000)
('Institute', 'Naresh IT')

In [138]:
for i,j in dict1.items():
    print(i,':',j)

Course_id1 : DS
Course_duration : 4
Course_fee : 18000
Institute : Naresh IT

In [139]:
list(dict1.items())   # type cast using list

[('Course_id1', 'DS'),
 ('Course_duration', 4),
 ('Course_fee', 18000),
 ('Institute', 'Naresh IT')]

In [140]:
dict1.keys()

dict_keys(['Course_id1', 'Course_duration', 'Course_fee', 'Institute'])

In [141]:
dict1.values()

dict_values(['DS', 4, 18000, 'Naresh IT'])

In [142]:
key=dict1.keys()

In [143]:
list(key)

['Course_id1', 'Course_duration', 'Course_fee', 'Institute']

In [144]:
values=dict1.values()

In [145]:
list(values)

['DS', 4, 18000, 'Naresh IT']

In [146]:
dict1

{'Course_id1': 'DS',
 'Course_duration': 4,
 'Course_fee': 18000,
 'Institute': 'Naresh IT'}

In [152]:
keys=['Juber','Jakir','Pathan']
values=[23,45,'Empior']
dict2={}
for i,j in zip(keys,values):
    print(i,':',j)
#print(dict2)

Juber : 23
Jakir : 45
Pathan : Empior

In [148]:
# list comprension and dictionary comprension

In [ ]:
# one list keys
#second list keys
# can you create the dictinary

list1={'Juber_Course',
       'Juber_Course_duration',
       'Juber_Course_fee',
       'Juber_Institute_Name'}
list2={''}

In [ ]:
# dictionary comprension

In [20]:
[i for i in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [27]:
dict1={i,j for i,j in zip(keys,values)}

SyntaxError: did you forget parentheses around the comprehension target? (3373951452.py, line 1)

In [28]:
vice versa

SyntaxError: invalid syntax (326353485.py, line 1)

$get$

In [29]:
#get method

In [31]:
dict1={'A':1,'B':2,'C':3}

In [32]:
dict1

{'A': 1, 'B': 2, 'C': 3}

In [33]:
dict1.get('A')

1

$clear-copy$

In [34]:
dict1.copy()

{'A': 1, 'B': 2, 'C': 3}

In [35]:
dict1.clear()

In [39]:
l1=[1,2,3]
l2=l1.copy()
l1.clear()
print('l1',l1)
print('l2',l2)

l1 []
l2 [1, 2, 3]

$pop-popitem-del$

In [44]:
dict1={'Course_id1':'DS',
       'Course_duration':4,
       'Course_fee':18000,
       'Institute':'Naresh IT'}
dict1

{'Course_id1': 'DS',
 'Course_duration': 4,
 'Course_fee': 18000,
 'Institute': 'Naresh IT'}

In [45]:
dict1.pop()

TypeError: pop expected at least 1 argument, got 0

In [46]:
dict1.popitem()    # pop

('Institute', 'Naresh IT')

In [48]:
dict1

{'Course_id1': 'DS', 'Course_duration': 4, 'Course_fee': 18000}

In [50]:
dict1={'Course_id1':'DS',
       'Course_duration':4,
       'Course_fee':18000,
       'Institute':'Naresh IT'}
dict1

{'Course_id1': 'DS',
 'Course_duration': 4,
 'Course_fee': 18000,
 'Institute': 'Naresh IT'}

In [51]:
dict1.pop('Institute')

'Naresh IT'

In [52]:
print(dict1)

{'Course_id1': 'DS', 'Course_duration': 4, 'Course_fee': 18000}

In [53]:
dict1={'Course_id1':'DS',
       'Course_duration':4,
       'dict1={'Course_id1':'DS',
       'Course_duration':4,
       'Course_fee':18000,
       'Institute':'Naresh IT'}':18000,
       'Institute':'Naresh IT'}
dict1

{'Course_id1': 'DS',
 'Course_duration': 4,
 'Course_fee': 18000,
 'Institute': 'Naresh IT'}

In [54]:
del dict1['Course_duration']

In [55]:
dict1

{'Course_id1': 'DS', 'Course_fee': 18000, 'Institute': 'Naresh IT'}

$setasdefault$

In [56]:
dict1={'Course_id1':'DS',
       'Course_duration':4,
       'Course_fee':18000,
       'Institute':'Naresh IT'}
dict1

{'Course_id1': 'DS',
 'Course_duration': 4,
 'Course_fee': 18000,
 'Institute': 'Naresh IT'}

In [60]:
dict1.setdefault('package')
dict1.setdefault('certification','valid')
dict1

{'Course_id1': 'DS',
 'Course_duration': 4,
 'Course_fee': 18000,
 'Institute': 'Naresh IT',
 'package': None,
 'certification': 'valid'}

$fromkeys$

In [61]:
dict1={'Course_id1':'DS',
       'Course_duration':4,
       'Course_fee':18000,
       'Institute':'Naresh IT'}
dict1

{'Course_id1': 'DS',
 'Course_duration': 4,
 'Course_fee': 18000,
 'Institute': 'Naresh IT'}

In [67]:
dict1={}
dict1.fromkeys('python',10)

{'p': 10, 'y': 10, 't': 10, 'h': 10, 'o': 10, 'n': 10}

In [68]:
dict1={}
list1=[2,4,6,7]
dict1.fromkeys(list1,'even')

{2: 'even', 4: 'even', 6: 'even', 7: 'even'}

In [69]:
dict1={}
employee=['A','B','C']
dict1.fromkeys(employee,'NareshIT')

{'A': 'NareshIT', 'B': 'NareshIT', 'C': 'NareshIT'}

In [166]:
dict1={}
d1={'a':100,'B':200,'C':300}
d2={'d':300,'e':400,'f':500}
for i,j in zip(d1,d2):
    if i==j:
        dict1[i]=d1[i]+d2[j]
    else:
        dict1[i]=d1[i]
        dict1[i]=d2[j]
print(dict1)

{'a': 300, 'B': 400, 'C': 500}