In [3]:
def salary():
    base_salary=eval(input("enter base salary:"))
    DA_amount=eval(input("enter DA Amount:"))
    total_salary=base_salary+DA_amountA
    print("the total salary is:".total_salary)

enter base salary5000
enter DA Amount6000

AttributeError: 'str' object has no attribute 'total_salary'

In [4]:
salary()

enter base salary5000
enter DA Amount1000

AttributeError: 'str' object has no attribute 'total_salary'

In [3]:
gender=input("enter gender:")
if gender=="male":
    age=eval(input("enter age:"))
    if age>=5:
        print("he is man")
    else:
        print("he is boy")
        
if gender=="female":
    age=eval(input("enter age:"))
    if age>=5:
        print("she is women")
    else:
        print("she is girl")

enter gender:male
enter age:5
he is man

In [5]:
n1 = eval(input("Enter the first number: "))
n2 = eval(input("Enter the Second number: "))
n3 = eval(input("Enter the third number: "))
if n1>n2 and n1>n3:
    print("{} is greatest".format(n1))
elif n2>n3:
    print("{} is greatest".format(n2))
else:
    print("{} is greatest".format(n3))

Enter the first number: 20
Enter the Second number: 70
Enter the third number: 50
70 is greatest

In [8]:
distance=eval(input("enter the distance in km:"))
if distance>=6:
    print("100rs")
elif distance>=4:
    print("the fare between 4 to 6 is 6okm")
elif distance>=2:
    print("the fare between 2 to 4km is 40rs")
else:
    print("the fare less than 2km is 20rs")

enter the distance in km:15
100rs

In [10]:
distance=eval(input("enter the distance in km:"))
if distance>=2:
    print("the fare between 0 to 2 km is 20rs")
elif distance>=4:
    print("the fare between 2 to 4 km is 4ors")
elif distance>6:
    print("the fare between 4 to 6 km is 60rs")
else:
     print("the fare is morethan 6 km is 100rs")

enter the distance in km:100
the fare between 0 to 2 km is 20rs

In [ ]:
try:
    distance=eval(input("enter a nuber:"))
    if distance>=2:
        print("the fare between 0 to 2km is 20rs:")
    elif distance>=4:
        print("the fare between 2to 4 km is 40rs:")
    elif distance>

In [ ]:
def divide_numbers(a, b):
    try:
        result = a / b
        return result
    except ZeroDivisionError:
        return "Error: Division by zero is not allowed."

# You can call this function like this:
result = divide_numbers(10, 2)
print(result)  # This will print 5

result = divide_numbers(5, 0)
print(result)  # This will print "Error: Division by zero is not allowed."