In [1]:
#Normal Function


def add(x):
    return(x+10)
add(10)

20

In [ ]:
#how many

In [4]:
add = lambda x:x+10
add(10)

20

In [5]:
def mul(num):
    return(num*num)
mul(5)

25

In [9]:
mul=lambda num:num*num
mul(5)

25

In [10]:
def cube(val):
    return(val*val*val)
cube(3)

27

In [13]:
cube=lambda val:val*val*val
cube(3)

27

In [14]:
def sum1(a,b):
    return(a+b)
sum1(10,20)

30

In [17]:
sum1=lambda a,b:a+b
sum1(10,20)

30

In [ ]:
#lambda format 
#<function_name>=lambda <argument_name>:<return_value>

In [18]:
def avg(a,b,c):
    return(a+b+c)/3
avg(10,20,30)

20.0

In [22]:
avg=lambda a,b,c=100:round(a+b+c)/3
avg(10,20)

43.333333333333336

$lambda function if else$

In [28]:
def greater(num1,num2):
    if num1>num2:
        return(num1)
    else:
        return(num2)
greater(50,100)

100

In [ ]:
#format  #<function_name>=lambda <arg1,arg2>:

In [33]:
greater=lambda num1,num2: num1 if num1>num2 else num2
greater(200,100)

200

In [40]:
list1=['hyd','mumbai','bengluru']
output=[]
for i in list1:
    output.append(i.capitalize())
    #print(i.capitalize())
output

['Hyd', 'Mumbai', 'Bengluru']

In [43]:
list1=['hyd','mumbai','bengluru']
output=[i.capitalize() for i in list1]
output

['Hyd', 'Mumbai', 'Bengluru']

In [50]:
list(map(lambda i:i.capitalize(), list1))

['Hyd', 'Mumbai', 'Bengluru']

In [61]:
list1=[1,2,3,4]
output=[]
for i in list1:
    print(i*i)
#output

1
4
9
16

In [51]:
list1=[1,2,3,4]
list(map(lambda i:i*i,list1))

[1, 4, 9, 16]

In [66]:
list1=['hyd','Biryani','Buvaneshwar','rasgulla']
#output:['biryani','buvaneshwar','rasgulla']
output=[]
for i in list1:
    if len(i)>3:
        print(i)

Biryani
Buvaneshwar
rasgulla

- filter itis where is used the if statements or condition used the filter not used map

In [70]:
list(map(lambda i:len(i)>3,list1))

[False, True, True, True]

In [69]:
list(filter(lambda i:len(i)>3,list1))

['Biryani', 'Buvaneshwar', 'rasgulla']

In [71]:
list1=['hyd','Bir#ani','Buv#neshwar','ras#ulla']
for i in list1:
    if '#' in i:
        print(i)

Bir#ani
Buv#neshwar
ras#ulla

In [72]:
list(filter(lambda i:'#' in i,list1))

['Bir#ani', 'Buv#neshwar', 'ras#ulla']

In [95]:
list1=[1,2,3,4,5,6]
for i in list1:
    if i%2==0:
        print('even',i)
    else:
        print('odd',i)

odd 1
even 2
odd 3
even 4
odd 5
even 6

In [98]:
list(filter(lambda i: i%2==0,list1))

[2, 4, 6]

In [93]:
list(map(lambda i: {i:'odd'} if i%2!=0 else {i:'even'},list1))

[{1: 'odd'}, {2: 'even'}, {3: 'odd'}, {4: 'even'}, {5: 'odd'}, {6: 'even'}]

In [94]:
list(map(lambda i: {i:'even'} if i%2==0 else {i:'odd'},list1))

[{1: 'odd'}, {2: 'even'}, {3: 'odd'}, {4: 'even'}, {5: 'odd'}, {6: 'even'}]

In [ ]:
list1=['who is pm of india',
       'what is capital of india',
       'who is president of india',
      'where is NareshIT Institute',
      'where is Aurangabad']
list2=['Narendra Modi','Delhi','Droupadi Murmu','Hyderabad','Maharashtra']
marks=0
correct_ans=0
for i in range(len(list1)):
    print('quetion:',list1[i])
    answer=input('Tell The answer:')
    if answer in list2[i].lower():
        marks=marks+1
        correct_ans=correct_ans+1
    else:
        print('no marks')
print(correct_ans,marks)

quetion: who is pm of india
Tell The answer:modi
quetion: what is capital of india