In [ ]:
how do we read?
- type
- len
- max
- min
conaca

In [1]:
list1=[1,2,3,4] # array of stored 
list1            # list is a hetrogenius

[1, 2, 3, 4]

In [15]:
list3=['A','B','C','D']
list3

['A', 'B', 'C', 'D']

In [4]:
list2=[1,2,"apple",30+20j]
list2

[1, 2, 'apple', (30+20j)]

In [ ]:
# list means duplicates elements

In [6]:
list7=['hai how are you',[1,2,3,4]]
list7

['hai how are you', [1, 2, 3, 4]]

In [7]:
type(list1)

list

In [8]:
list1

[1, 2, 3, 4]

#### len - max - min

In [14]:
print(list1)

[1, 2, 3, 4]

In [10]:
print(len(list1))

4

In [11]:
print(max(list1))

4

In [12]:
print(min(list1))

1

In [13]:
print(sum(list1))

10

In [16]:
list3

['A', 'B', 'C', 'D']

In [17]:
print(len(list3))

4

In [18]:
print(max(list3))

D

In [19]:
print(min(list3))

A

In [20]:
print(sum(list3))

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [21]:
string4=['Apple',1234]
string4

['Apple', 1234]

In [22]:
len(string4)

2

In [27]:
print(max(string4))

TypeError: '>' not supported between instances of 'int' and 'str'

In [28]:
min(string4)

TypeError: '<' not supported between instances of 'int' and 'str'

In [29]:
sum(string4)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [30]:
list7

['hai how are you', [1, 2, 3, 4]]

In [31]:
len(list7)

2

In [32]:
min(list7)

TypeError: '<' not supported between instances of 'list' and 'str'

In [33]:
max(list7)

TypeError: '>' not supported between instances of 'list' and 'str'

In [34]:
sum(list7)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

#### concatenation

In [35]:
print(list1)

[1, 2, 3, 4]

In [37]:
print(list3)

['A', 'B', 'C', 'D']

In [38]:
list_con=list1+list3

In [41]:
print(list1)
print(list3)
print(list_con)

[1, 2, 3, 4]
['A', 'B', 'C', 'D']
[1, 2, 3, 4, 'A', 'B', 'C', 'D']

In [42]:
list1-list3

TypeError: unsupported operand type(s) for -: 'list' and 'list'

#### multiply string with integer

In [43]:
2*list1

[1, 2, 3, 4, 1, 2, 3, 4]

In [44]:
3*list1

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [45]:
list3

['A', 'B', 'C', 'D']

In [46]:
'A' in list3

True

In [47]:
for i in list3:
    print(i)

A
B
C
D

In [ ]:
i=0
list3=['A','B','C','D']
while True:
    print(i)
i+=1
break

In [55]:
if i in list3:
    print(i)

D

#### index

In [66]:
list3

['A', 'B', 'C', 'D']

In [68]:
for i in range(len(list3)):
    print(list[i])

list[0]
list[1]
list[2]
list[3]

In [131]:
i=0
while i<(len(list3)):
    print(i,list3[i])
    i=i+1
    break

0 A

In [76]:
for i in range(len(list3)):
    print("the positive index is{} of {}".format(i,list3[i]))

the positive index is0 of A
the positive index is1 of B
the positive index is2 of C
the positive index is3 of D

In [92]:
for i in range(len(list3)):
    print("the negative index is {} of{}".format(list3[i],i-len(list3)))

the negative index is A of-4
the negative index is B of-3
the negative index is C of-2
the negative index is D of-1

In [93]:
list1[0]="AAAA"

In [94]:
list1

['AAAA', 2, 3, 4]

- list is mutable
- string is immutable

In [114]:
list1=[[[[[1,2,3,4]]]]]   #retrive the index 4
list1[0][0][0][0][3]

4

In [120]:
list2=[[[[['A','B',[1,2,3,['Cherry']]]]]]]
list2[0][0][0][0][2][3][0]

'Cherry'

In [128]:
list1=[[1,2,3]]
for i in list1[0]:
    print(i,end=' ')

1 2 3